.kino {
    display:flex;
    position: relative;
    justify-content: flex-start;
    align-content:stretch;
    align-items:stretch;
    flex-direction:column;
    flex-wrap:nowrap;
    background-color: transparent;
    height: 100%;
    overflow: hidden
}
.films {
    position: relative;
    flex-shrink: 0;
    text-align: left;
    color: rgb(44,44,44);
    background-color: snow;
    margin: 5px 15px 5px;
    padding: 10px;
    /* font: 8pt sans-serif; */
    text-align:  left;
}
.films .button {margin-top: 10px;}
.films img {float: right}