form.uploadfile input,label {
    display: inline;
    position: relative;
    margin: 5px;
    padding: 5px;
    min-width: 80px;
    line-height: 100%;
    font: 10pt sans-serif;
    border: solid 1px #c0c0c0;
    border-bottom: solid 3px #8899bb;
    overflow: hidden;
    text-align: center;
    background-color: whitesmoke;
    -webkit-transition: height 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: height 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: height 0.2s ease-out, opacity 0.2s ease-out;
    transition: height 0.2s ease-out, opacity 0.2s ease-out;
}

form.uploadfile label:hover,input:hover {
    border-bottom-color: gold;
    -webkit-transition: height 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: height 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: height 0.2s ease-out, opacity 0.2s ease-out;
    transition: height 0.2s ease-out, opacity 0.2s ease-out;
}

form.uploadfile label:disabled,input:disabled {
    display: none;
    height: 0px;
    opacity: 0;
    -webkit-transition: height 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: height 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: height 0.2s ease-out, opacity 0.2s ease-out;
    transition: height 0.2s ease-out, opacity 0.2s ease-out;
}

form.uploadfile input[type="file"] {
    display: none;
}

form.uploadfile label[for="fileInput"].empty {
    background-color:whitesmoke;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

form.uploadfile label[for="fileInput"].filled {
    background-color:gold;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

form.uploadfile input[type="text"]{
    width: 90%;
    min-width: 100px;
    text-align: left;
}

form.uploadfile div.fstatus{
    margin:0px;
    padding:0px;
    display:inline-block;
    position:absolute;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    content:"";
    border: none;
    background-color: #8899bb;
    width: 0px;
    overflow: visible;
    white-space:nowrap;
}
